<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.milkman">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/final_icon1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".Activity.ConfirmationActivity"></activity>
        <activity android:name=".Activity.CartActivity" />
        <activity android:name=".Activity.Beverages_Activity" />
        <activity android:name=".Activity.Grocery_Activity" />
        <activity android:name=".Activity.Personal_Activity" />
        <activity android:name=".Activity.Religious_Activity" />
        <activity android:name=".Activity.Bakery_Activity" />
        <activity android:name=".Activity.Milk_Activity" />
        <activity android:name=".Activity.Rate_Us_Account" />
        <activity android:name=".Activity.Support_Account" />
        <activity android:name=".Activity.Transaction_History_Account" />
        <activity android:name=".Activity.Wallet_Account" />
        <activity android:name=".Activity.Edit_profile" />
        <activity android:name=".Activity.Profile_Account" />
        <activity android:name=".Activity.About_Us_Account" />
        <activity android:name=".Activity.MultiplePermissions" />
        <activity android:name=".Activity.navigation" />
        <activity android:name=".Utils.Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity
            android:name=".Activity.CreateAccountActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".Activity.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_API_Key" />
    </application>

</manifest>